@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin:0;
}


/* The hero image */
.hero-image {
    width: 100%;
    top:0;
    left: 0;
  background-image:linear-gradient(to right, #00000050, #00000050), url('./media/Hero_1920x1080.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoContainer{
    position: absolute;
    background-color: #fff;
    padding: 5vh 4vh 2vh;
    top: -1vh;
    left: 16vh;
    box-shadow: 0 0 1vh #00000080;


}

.logo{
    position: relative;
    height: 8vh;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 28vh;
  left: 16vh;
  color: white;
}

h1 {
    margin: 0;
    font-size: 7vh;
    line-height: 7vh;
    text-shadow: 0 0 2vh #00000020;
}
p {
    margin: 2vh 0   ;
    font-size: 2.5vh;
    line-height: 4vh;
}
button{
    width: 28vh;
    height: 7vh;
    background-color: #fae8d4;
    border: none;
    border-radius: 4vh;
    color: #4d351b;
    font-weight: 500;
    font-size: 2.5vh;
    margin-top: 12vh;
    box-shadow: 0 0 2vh #00000020;
}
main {
    width: 100%;
    margin: 12vh 0;
}

.paragraph {
    margin: 0 24vh;
}


h2 {
    font-size: 4vh;
    margin: 8vh 0;
    width: 100%
}

.fullWidthImage{
    width: 100%

}

.borderTop {
    box-shadow: 0 -1px 0 black;
    margin: 12vh 0;
}

.kontakt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24vh;
}


form {
    padding-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


input, textarea {
    height: 7vh;
    width: 42%;
    border-radius: 3.5vh;
    border: none;
    background-color: #e9e9e9;
    padding: 0 4vh;
    font-size: 2.5vh;
    margin-bottom: 4vh;
}

textarea {
    width: 100%;
    padding-top: 2.5vh;
    resize: vertical;
    min-height: 24vh;
}

.submit {
    margin: 0;
    background-color: #FEC78C;
}

footer {
    background-color: #FEC78C;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6vh;
}

.logoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6vh;
}

.bCyber {
    height: 12vh;
    margin: 2vh

}


.innoNative {
    height: 6vh;
    margin: 2vh

}

.impressum {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 6vh;

}

h5 {
    font-weight: 400;
    margin: 0 1vh;
}

h4 {
    margin: 1vh 0;
}